*{
      box-sizing: border-box;
      font-family: 'Poppins', sans-serif;
      margin: 0;
      padding: 0;
}
body{
      height: 100vh;
      text-align: center;
      background: linear-gradient(to bottom right , #78aaeb,#f790db,#6c8fca,#ea6de5);
}
.error-page{
      position: absolute;
      top: 10%;
      left: 10%;
      right: 10%;
      bottom: 10%;
      background-color: #fff;
      border-radius: 7px;
      display: flex;
      align-items: center;
      justify-content: center;
}
.error-page .content{
      text-align: center;
}
.content h1{
      font-size: 15vw;
      margin: -50px 0 0 0;
      position: relative;
}
.content h1::after{
      content: attr(data-text);
      position: absolute;
      top: 0%;
      left: 0;
      right: 0;
      background: linear-gradient(to bottom right , #78aaeb,#f790db,#6c8fca,#ea6de5);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-shadow: 1px 1px 2px rgba(255,255,255,0.25);
}
.content h4{
      font-size: 1.5em;
      text-transform: uppercase;
      width: 600px;
      position: relative;
      margin-top: -20px;
}
.content h4::after{
      position: absolute;
      content: attr(data-text);
      top: 0;
      left: 0;
      right: 0;
      text-shadow: 1px 1px 2px rgba(255,255,255,0.4);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
}
.content p{
      font-size: 15px;
      font-weight: 600;
      width: 600px;
      margin: 20px 0 20px 0;
}
.content .btns button{
      width: 180px;
      height: 40px;
      margin-top: 20px;
      margin-left: 50px;
      margin-right: 50px;
      font-size: 15px;
      border-radius: 20px;
      outline: none;
      border: 2px solid dodgerblue;
      color: dodgerblue;
      font-weight: bold;
      transition: 0.5s ease;
      cursor: pointer;
}
.content .btns button:hover{
      background-color: dodgerblue;
      color: white;
}